<a href="https://colab.research.google.com/github/pedrocapri/intro_ds/blob/main/Introdu%C3%A7%C3%A3o_a_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando pandas
import pandas as pd

In [ ]:
#chamando o arquivo
notas = pd.read_csv('rating.csv')

In [ ]:
notas.head

In [ ]:
notas.shape

In [ ]:
#renomeando as colunas
notas.columns = ['UsuarioID', 'FilmeID', 'Notas', 'Momento']

In [ ]:
notas.head

In [ ]:
#valores únicos possíveis para coluna Notas
notas['Notas'].unique()

In [ ]:
#Quantidade de registros por valores de Notas
notas['Notas'].value_counts()

In [ ]:
notas.Notas.plot(kind = "hist")

In [ ]:
notas.Notas.mean()

In [ ]:
notas.Notas.median()

In [ ]:
notas.Notas.describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(notas.Notas)

## SEGUNDO BLOCO DO CURSO: ANÁLISE EXPLORATÓRIA

In [ ]:
movies = pd.read_csv('movies.csv')

In [ ]:
movies.head

In [ ]:
type(movies)

In [ ]:
movies.columns = ["filmeId", "titulo", "generos"]

In [ ]:
# Notas por filme
notas.query("FilmeID == 1").Notas.mean()

In [ ]:
notas.groupby("FilmeID").mean()["Notas"]

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(notas.groupby("FilmeID").mean()["Notas"])
plt.title("Histograma das médias")

# Parte 3 do curso

In [ ]:
movies = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')

In [ ]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
rating.head()

   userId  movieId  rating    timestamp
0       1        1     4.0  964982703.0
1       1        3     4.0  964981247.0
2       1        6     4.0  964982224.0
3       1       47     5.0  964983815.0
4       1       50     5.0  964982931.0

In [12]:
##tmdb_credits = pd.read_csv('tmdb_5000_credits.csv')
tmdb = pd.read_csv('tmdb_5000_movies.csv')

In [14]:
tmdb.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [16]:
tmdb.original_language.unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [19]:
tmdb.original_language.value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64